<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @user.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @user.destination %>
</p>
<%= @distance %><br/>
<%= @time %><br/>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
